
@font-face {
    font-family: extrabold;
    src: url('./fonts/apercu-black-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: bold;
    src: url('./fonts/apercu-bold-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: regular;
    src: url('./fonts/apercu-regular-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: medium;
    src: url('./fonts/apercu-medium-trial.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: bold;
    src: url('./fonts/ApercuPro-Bold.woff2') format('woff2'),
        url('./fonts/ApercuPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: regular;
    src: url('./fonts/ApercuPro-Regular.woff2') format('woff2'),
        url('./fonts/ApercuPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

    @font-face {
    font-family: medium;
    src: url('./fonts/ApercuPro-Medium.woff2') format('woff2'),
        url('./fonts/ApercuPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    }
